.desc1{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}    

.desc1 .title_desc1, .title_desc2, .title_desc3{
    font-weight: bold;     
}

.desc1 img{
    max-width: 100%;
}

.en, .be, .ru{
    display: inline-block;
    transform: translateX(100px);
    margin-top: 8%;
    color: white;
    padding: 3px;
    cursor: pointer;
}