@import 'variables';

body{
    font-family: 'Montserrat', sans-serif;
}
.menu{
    display: flex;
}

.menu li{
    width: 200px;
    list-style: none;
    background: #383c54;
    position: relative;
}
.menu a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}

.menu a:hover{
    background: #808291;
}

.menu ul{
    position: absolute;
    left: 0;
    top:100%;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;
}

.Logo{
    margin-top: 10px;
    margin-bottom: 10px;
    @include breakpoint(lg_down){
        margin-right: 30%;
    }    

}

.up{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: $black;
}

.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-left: 100px;
    margin-right: 100px;
    @include breakpoint(lg_down){
        display: none;
    }
    &-item{
       
        margin-left: 100px;
        margin-right: 100px;
    }
    &-link{
        color: white;
        text-decoration: 0;
    }
}
.up{
    width: 100%;
    margin: 0 auto
}

.collage{
    margin-top: 5%;
    margin-left: 60%;
    margin-right: 5%; 
}

.collage img{
    max-width: 100%;
}

.view_prod li{
    font-size: 10pt;
    
}

.more_info li{
    font-size: 10pt;
}

.intro_phone{
    @include breakpoint(md_up){
        li{display: none;}
        .collage{
            display: none;
        }
    }    
    @include breakpoint(md_down){
        li{
            margin-left:10%;
            font-size: 12pt;
            margin-right:10%;
        }
        .collage{
            max-width:95%;
            margin-left: 0;   
        }
        text-decoration: 0;
        list-style-type: none;
    }
}

.intro_desktop .collage{
    @include breakpoint(md_down){
        display: none;
    }
    @include breakpoint(md_up){
        margin-top: 5%;
        margin-left: 60%;
        margin-right: 5%; 
    }
}

.text_intro{
    @include breakpoint(md_up){
        margin-top: -30%;
        margin-left: 10%; 
        margin-right: 40%;
        text-decoration: 0;
        list-style-type: none;
        font-size: 21px;
    }
    @include breakpoint(md_down){
        display: none;
    }
    
}


.more_info{
    margin-top: 10%;
    margin-left: 10%; 
    margin-right: 40%;
    text-decoration: 0;
    list-style-type: none;

}

.view_prod{
    margin-top: 0%;
    margin-left: 10%; 
    margin-right: 40%;
    text-decoration: 0;
    list-style-type: none;
    @include breakpoint(md_down){
        li{
        margin-right: 5%;
        margin-left: 65%;
        }
    }    
}

.down_main{
    margin-top: 10%;
    text-decoration: 0;
    list-style-type: none;
    width: 100%;
    height: 60px;
    background-color: #000;
}

.anchor{
    color: white;
}

.desc1{
    margin-top: 5%;
    margin-left: 100px; 
    margin-right: 40%;
    margin-bottom: 10%;
    text-decoration: 0;
    list-style-type: none;
}
.desc2{
    margin-top: 5%;
    margin-left: 50%; 
    margin-right: 5%;
    margin-bottom: 10%;
    text-decoration: 0;
    list-style-type: none;
}
.desc3{
    margin-top: 5%;
    margin-left: 100px; 
    margin-right: 40%;
    margin-bottom: 10%;
    text-decoration: 0;
    list-style-type: none;
}


.nav-bar {
	
	display: none;
    @include breakpoint(minlg){
        position: absolute;
        background-color: #122;
        top: 0;
        right: 100%;
        height: 50vh;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        -ms-transition: position 2.9s;
        -o-transition: position 2.9s;
    }
    
	
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    

}

.toggle-menu {
	
	display: none;
    @include breakpoint(minlg){
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
	
    
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
	background-color: white;
}

.nav-list {
    margin-bottom: 100%;
	list-style: none;
}

.nav-list-item {
    margin-bottom: -5%;
	text-align: center;
	padding: 15px 0;

}

.nav-link {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
    margin-right: 10px;

}

.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    
    width: 100px;
    background-color: #000;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;

}

#check-menu{
    display:none;
}

label{
    display: block;
    position: absolute;
    top:0;
    
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
}

.fourth{
    top: 28px;
}

.second, .third{
    top: 18px;
}

.main-menu{
    display:block;
    position: absolute;
    width: 100%;
    height: 400%;
    top: 0;
    transform: translateY(20%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 1s all;
}
input {outline: none;}
.Home, .Contacts, .Eng, .Info{
    display:block;
    
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #000;    
}

#check-menu:checked ~ .main-menu{
    max-height: 160px;
    font-size: 16px;  
}

#check-menu:checked ~ .first{
    display: none;
}
#check-menu:checked ~ .fourth{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}